:root{

}

.light-theme{
  background-color: #ecf0f2;
  color: #7c7d7d;
}
.light-theme .active-bg-1{
  background-color: #fff;
  border-color: #fff;
}
.light-theme .active-bg-2{
  background-color: #d6dde3;
  border-color: #d6dde3;
}
.light-theme .active-bg-3{
  background-color: #3d3d3d;
  border-color: #3d3d3d;
}
.light-theme .active-bg-4{
  background-color: #ECF0F2;
  border-color: #ECF0F2;
}
.light-theme .bg-blue{
  background-color: #9dd7ff;
  border-color: #9dd7ff;
}
.light-theme .bg-pink{
  background-color: #ffa5cb;
  border-color: #ffa5cb;
}
.light-theme .bg-grey{
  background-color: #f1f3f5;
  border-color: #f1f3f5;
}
.light-theme .bg-grey-2{
  background-color: #eaeaea;
  border-color: #eaeaea;
}
.light-theme .bg-teal{
  background-color: #00c4a7;
  border-color: #00c4a7;
}

.light-theme .bg-favorange{
  background-color: #ff8e12;
  border-color: #ff8e12;
}
.light-theme .bg-btn-orange{
  background-color: #fe8159;
  border-color: #fe8159;
}
.light-theme .bg-pink-red{
  background-color: #ff3352;
  border-color: #ff3352;
}
.light-theme .text-dark-4x{
  color: #4F5155;
  fill: #4F5155;
}
.light-theme .text-dark-3x{
  color: #222222;
  fill: #222222;
}
.light-theme .text-dark-2x{
  color: #3d3d3d;
  fill: #3d3d3d;
}
.light-theme .text-dark-1x{
  color: #7c7d7d;
  fill: #7c7d7d;
}
.light-theme .text-teal{
  color: #00c4a7;
  fill: #00c4a7;
}
.light-theme .text-drypink{
  color: #0066FF;
  fill: #0066FF;
}
.light-theme .text-pink-red{
  color: #ff3352;
  fill: #ff3352;
}
.light-theme .hamburger path{
  color: #A3ABB8;
  fill: #A3ABB8;
}

.light-theme .svg-black *{
  fill: #000 !important;
} 
.light-theme .svg-grey-2x *{
  fill: #737577 !important;
} 
.light-theme .svg-grey-1x *{
  fill: #d6dde3 !important;
} 

@media (max-width: 991px) {
  .menu-bg{
    background-color: #fff;
  }
  .fs-sm-14{font-size: 14px;}
  .fs-sm-12{font-size: 12px;}
  .fs-sm-10{font-size: 10px;}
}
.light-theme .box-shadow-1{box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.1);}
.light-theme .box-shadow-down{box-shadow: 0px 12px 30px -10px rgba(0, 0, 0, 0.2);}

.light-theme .search-holder svg path{
  stroke: #000;
}

.search-holder .input-group-text,
.search-holder .form-control{
  border-color: #d6d6d6;
}

.light-theme .accordion-icon svg path{
  fill: #fff;
}

.light-theme input[type=checkbox]{
  accent-color: #00c4a7;
}
.light-theme .form-check-input:checked {
  background-color: #00c4a7;
  border-color: #00c4a7;
}
.light-theme .form-check-input:checked + label .tour-count{
  color: #00c4a7;
}
.light-theme .form-check-input:checked + label .tour-name{
  font-weight: 600;
}

.light-theme .live-flag{
  color: #fff;
}

.light-theme .graph-icon path{
  fill: #fff;
}

.light-theme .timeline-bar-outer{
  background-color: #BBC2CE;
}
.light-theme .timeline-bar-inner{
  background-color: #00c4a7;
}
.light-theme .timeline-bar-inner::after{
  background-color: #fff;
}

.light-theme .input-pink-div{
  background-color: #ffa5cb;
  border-color: #ffa5cb;
  /* color: #3d3d3d; */
}
.light-theme .input-white-div{
  background-color: #fff;
  border-color: #BBC2CE;
  /* color: #3d3d3d; */
}
.light-theme .input-blue-div{
  background-color: #9dd7ff;
  border-color: #9dd7ff;
  /* color: #3d3d3d; */
}

.light-theme .input-grey-div{
  background-color: #F1F3F5;
  border-color: #F1F3F5;
}

.light-theme .input-style-1::-webkit-input-placeholder {
  color: #3d3d3d;
}

.light-theme .grey-star,
.live-sport-graph-icon{
  background-color: #F1F3F5;
}
.light-theme .grey-star path,
.live-sport-graph-icon svg path{
  fill: #BBC2CE;
}

.light-theme .white-star{
  background-color: #E6EAED;
}
.light-theme .white-star path{
  fill: #BBC2CE;
}

.light-theme .bet-filter-btn.active{
  background-color: #fff;
  box-shadow: 0 0 8px 3px #DDD;
}

.border-top-2{
  border-color:#0066FF;
}

.outcome-outer{
  background-color: #89D0FE;
}

.light-theme .solid-num-btn:hover{
  background-color: #00c4a7;
  border-color: #00c4a7;
  color: #fff;
}
.place-amount-input{
  border-color: #707070;
}

.light-theme .comm-box{
  background-color: #D6DDE3;
  border-color: #FE8159;
  color: #FE8159;
}

.light-theme .score-box-outer,
.light-theme .comm-box-outer,
.light-theme .overs-outer{
  border-color: #D6DDE3;
}
.overs-outer::-webkit-scrollbar-track {
  background-color: #D6DDE3;
}

.run-0{
  background-color: #fff;
  border-color: #3D3D3D;
  color: #3D3D3D;
}
.run-1{
  background-color: #fff;
  border-color: #3D3D3D;
  color: #3D3D3D;
}
.run-2{
  background-color: #fff;
  border-color: #3D3D3D;
  color: #3D3D3D;
}
.run-3{
  background-color: #fff;
  border-color: #3D3D3D;
  color: #3D3D3D;
}
.run-4{
  background-color: #2bc422;
  border-color: #2bc422;
  color: #fff;
}
.run-6{
  background-color: #0874ef;
  border-color: #0874ef;
  color: #fff;
}
.wicket{
  background-color: #c30002;
  border-color: #c30002;
  color: #fff;
}
.wide-ball{
  background-color: #fff;
  border-color: #3D3D3D;
  color: #3D3D3D;
}
.no-ball{
  background-color: #fff;
  border-color: #3D3D3D;
  color: #3D3D3D;
  position: relative;
  z-index: 5;
  margin-right: -3px;
}

.light-theme .market-commentary-tab path{
  fill: #7c7d7d;
}
.light-theme .market-commentary-tab.active path{
  fill: #00c4a7;
}

.light-theme .market-commentary-tab{
  border-color: #fff;
}

.light-theme .market-commentary-tab.active{
  border-color: #00c4a7;
}

.light-theme .market-commentary-tab.active span{
  color: #00c4a7 !important;
}

.bgc4a7{
  background-color: #00c4a7 !important;
}

.flex-gap-3{
  row-gap: 1rem;
  column-gap: 1rem;
}

.light-theme .accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23737577'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>")
}

.lagai-btn{
  background-color: #89D0FE;
  color: #fff;
}
.khai-btn{
  background-color: #FF9BC5;
  color: #fff;
}

.h-divider::after{
  background-color: #ECF0F2;
}

.light-theme .border-top,
.light-theme .border-bottom,
.light-theme .border-stat,
.light-theme .border-end{
  border-color: #ECF0F2;
}